/* couleurs

vert #00838F
gris #455A64
gris foncé #263238


*/

h1{
	font-size: 22px;
}

p {
	font-size: 14px;
}

.decoration{
	background-color: #00838F;
	height: 2px;
	width: 99%;
}

/* Colonne info perso -------------- */

.titre h1{
font-size: 32px;
}

.titre h2{
font-size: 20px;
}

.infoPerso{
	background-color: #00838F;
	color: white;
}

.infoPerso + p{
	width : 80%;
	margin: auto;}

.infoPerso img{
	border-radius: 100%;
	display: block;
	margin: auto;
	max-width: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.infoPerso h1{
	text-align: center;
	background-color: white;
	color: #00838F;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid #00838F 1px;
}

.loisirIcone i{
	font-size: 2em;
}


/* Colonne info pro ----------------- */

.color{
	color: #00838F ;
}

.colonneDroite{
	background-color: white;
	border: solid #00838F 1px;
}

.infoPro h2{
	font-size: 14px;
}

.infoProIcone i{
	font-size: 25px;
}

.date p{
	font-size: 16px;
}

.contenuPro h1{
	font-size: 18px;

}


.fas{
	float: left;
}